body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 5px solid purple; */
    justify-content: space-around;
    background-image: url("bg.jpg");
    background-size: auto;
    opacity: 0.9;
    background-size: cover;
}
.ask {
    height: 50px;
}
.container {
    display: flex;
    /* border: 5px solid purple; */
    width: 100%;
    height: 220px;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.col {
    flex-direction: column;
}

.row {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.answer {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 15px 50px 30px;
    background: purple;
    border: 4px solid red;
    width: 40%;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    font-size: 40px;
    /* background: linear-gradient(to right, red, purple); */
    /* border-image:  */
    /* linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
    border-image: linear-gradient(to right, purple, pink, purple) 1;
    background-image: linear-gradient(purple, pink, purple);
    text-shadow: 10px 0 10px purple, 0 1px 0 purple, 0 10px 10px purple, 10px 10px 10px purple;
}

.player1D,
.player2D {
    display: flex;
    flex-direction: column;
    /* border-radius: 15px 50px 30px; */
    /* background: purple; */
    /* background-image: linear-gradient(black, grey); */
    color: white;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 230px;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    /* linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
}

.turn {
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    /* background-color: black; */
    text-decoration: underline overline white;
    text-shadow: 10px 0 10px purple, 0 1px 0 purple, 0 10px 10px purple, 10px 10px 10px purple;

}
.question {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: space-between;
    font-size: 1.2vw;
}
h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px solid yellow;
    height: 70px;
    width: 600px;
    font-size: 50px;
    color: white;
    border: 4px solid yellow;
    border-image: linear-gradient(to right, purple, pink, purple) 1;
    background-image: linear-gradient(purple, pink, purple);
    text-shadow: 10px 0 10px purple, 0 1px 0 purple, 0 10px 10px purple, 10px 10px 10px purple;
}
h2 {
    /* text-align: center; */
    align-content: center;
    border: 2px solid yellow;
    width: 200px;
    height: 50px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(black, grey,black);
}

.p1p, .p2p {
    align-content: center;
    border: 2px solid yellow;
    font-size: 150%;
    width: 200px;
    height: 50px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(black, grey,black);
}